@import 'fonts';
.blog-main {
    background-color: #fafafa;
}
.blog-main .container {
    align-items: flex-start;
    @media screen and(max-width: 1025px) {
        flex-direction: column;
    }
}
.blog-main-content {
    width: 70%;
    padding-bottom: 99px;
    @media screen and(max-width: 1025px) {
        width: 100%;
        padding-bottom: 60px;
    }
}
.blog-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50px;
    margin-bottom: 70px;
    @media screen and(max-width: 700px) {
        display: block;
    }
}
.blog-item {
    padding: 0 0 44px 0;
    max-width: 358px;
    background-color: #ffffff;
    object-fit: cover;
    @media screen and(max-width: 700px) {
        max-width: 100%;
        margin-top: 30px;
    }
}
.blog-item-img:hover .img-hover {
    display: block;
}
.blog-item-img:hover img {
    filter: brightness(15%);
}
.blog-item-img img {
    vertical-align: middle;
}

.blog-item:nth-child(1) {
    grid-row: 1/7;
    grid-column: 1/2;
}
.blog-item:nth-child(2) {
    grid-row: 1/9;
    grid-column: 2/3;
}
.blog-item:nth-child(3) {
    grid-row: 7/15;
    grid-column: 1/2;
}
.blog-item:nth-child(4) {
    grid-row: 9/12;
    grid-column: 2/3;
}
.blog-item:nth-child(5) {
    grid-row: 15/19;
    grid-column: 1/2;
}
.blog-item:nth-child(6) {
    grid-row: 12/20;
    grid-column: 2/3;
}

.blog-item:nth-child(4) {
    padding: 0;
    position: relative;
}
.blog-item:nth-child(5) {
    padding: 0;
}

.blog-item-text {
    padding: 44px 44px 0 44px;
    @media screen and(max-width: 1400px) {
        padding: 44px 22px 0 22px;
    }
}
.blog-tags {
    background-color: black;
    color: white;
    font-family: 'Roboto-Bold';
    text-transform: uppercase;
    text-align: center;
    max-width: 109px;
    font-size: 13px;
    padding: 8px 0 8px 0;
    margin-bottom: 30px;
}
.blog-title {
    font-family: 'Roboto-Bold';
    font-size: 20px;
    color: #333333;
    margin-bottom: 23px;
}
.blog-author {
    margin-bottom: 37px;
}
.blog-author span {
    font-size: 13px;
    color: #cccccc;
    font-family: 'Roboto-Bold';
    letter-spacing: 1px;
}
.blog-text p {
    color: #777777;
    font-family: 'Roboto-Bold';
    letter-spacing: 1px;
    font-size: 14px;
}
.blog-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.blog-date {
    display: flex;
    align-items: center;
}
.blog-date span {
    font-family: 'Myriad-Pro-Regular';
    font-size: 13px;
    color: #9a9a9a;
    letter-spacing: 1px;
    margin-left: 7px;
}
.blog-icons {
    display: flex;
    align-items: center;
}
.blog-icons img:nth-child(1) {
    margin-right: 24px;
}
.blog-item-img {
    padding: 0;
    width: 100%;
    position: relative;
}
.blog-item-img img {
    width: 100%;
}
video {
    width: 100%;
    height: 247px;
}
video[poster] {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-play {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 50%;
    margin-left: -30px;
}
.blog-main .main-btn {
    margin: 0 auto;
}
.img-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    display: none;
}
.img-hover .blog-item-text {
    @media screen and(max-width:1520px) {
        padding-top: 20px;
    }
}
.img-hover .blog-tags {
    margin-bottom: 20px;
    @media screen and(max-width:1300px) {
        margin-bottom: 5px;
    }
}
.img-hover .blog-title {
    color: #ffffff;
    @media screen and(max-width:1400px) {
        margin: 0;
    }
}
.img-hover .blog-author {
    margin-bottom: 20px;
    @media screen and(max-width:1300px) {
        margin-bottom: 10px;
    }
}
.img-hover .blog-author img {
    filter: none;
    width: 10px;
}
.img-hover .blog-text p {
    color: #ffffff;
}
.img-hover .blog-footer {
    margin-top: 15px;
}
.img-hover .blog-footer img {
    width: 13px;
    filter: none;
}
