@font-face {
    font-family: 'Myriad-Pro-Regular';
    src: url('../fonts/Myriad-Pro-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
