@import '_fonts.scss';

.slider .container {
    display: block;
    padding-top: 264px;
    padding-bottom: 280px;
    position: relative;
    @media screen and (max-width: 1025px) {
        padding-bottom: 80px;
    }
}
.slider .slider-item1 {
    background-image: url('../img/slider-1.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.slider .slider-item2 {
    background-image: url('../img/slider-2.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.title {
    background-color: #000000;
    color: #ffffff;
    max-width: 724px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Myriad-Pro-Regular';
    text-transform: uppercase;
    font-size: 48px;
    @media screen and(max-width: 1025px) {
        max-width: 100%;
        margin: 360px 0 0 0;
    }
    @media screen and (max-width: 950px) {
        margin: 310px 0 0 0;
    }
    @media screen and (max-width: 850px) {
        margin: 250px 0 0 0;
    }
    @media screen and (max-width: 770px) {
        margin: 200px 0 0 0;
    }
    @media screen and (max-width: 650px) {
        margin: 130px 0 0 0;
    }
    @media screen and (max-width: 550px) {
        margin: 70px 0 0 0;
    }
    @media screen and (max-width: 420px) {
        margin: -10px 0 0 0;
    }
    @media screen and (max-width: 375px) {
        margin: -30px 0 0 0;
    }
    @media screen and (max-width: 320px) {
        margin: -70px 0 0 0;
    }
}
.slider p {
    font-family: 'Myriad-Pro-Regular';
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}
.slick-arrow {
    text-indent: -9999px;
}
.slick-prev {
    position: absolute;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background-color: transparent;
    background-image: url('../img/prev.png');
    background-repeat: no-repeat;
    background-position: center;
    top: 45%;
    left: 110px;
    outline: none;
    z-index: 1;
    @media screen and (max-width: 1025px) {
        top: 91%;
        border: none;
        left: 45%;
        margin-left: -20px;
        background-color: #ceced0;
    }
    @media screen and (max-width: 750px) {
        left: 43%;
        top: 90%;
    }
    @media screen and (max-width: 540px) {
        left: 41%;
        top: 87%;
    }
    @media screen and (max-width: 420px) {
        left: 39%;
    }
}
.slick-prev:hover {
    background-color: black;
    border: 2px solid black;
}
.slick-next {
    position: absolute;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background-color: transparent;
    background-image: url('../img/next.png');
    background-repeat: no-repeat;
    background-position: center;
    top: 45%;
    right: 110px;
    outline: none;
    @media screen and (max-width: 1025px) {
        top: 91%;
        border: none;
        right: 42%;
        margin-left: -20px;
        background-color: #ceced0;
    }
    @media screen and (max-width: 750px) {
        right: 40%;
        top: 90%;
    }
    @media screen and (max-width: 540px) {
        right: 38%;
        top: 87%;
    }
    @media screen and (max-width: 420px) {
        right: 36%;
    }
}
.slick-next:hover {
    background-color: black;
    border: 2px solid black;
}
.slick-dots {
    display: flex;
    max-width: 77px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -38px;
    transform: translateY(-80px);
    @media screen and (max-width: 1025px) {
        display: none !important;
    }
}
.slick-dots li button {
    width: 13px !important;
    height: 13px !important;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    margin-right: 10px;
    text-indent: -9999px;
    outline: none;
}
.slick-dots::before {
    content: '';
    width: 13px !important;
    height: 13px !important;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    position: absolute;
    top: 1px;
    left: 15px;
}
.slick-dots .slick-active {
    width: 5px !important;
    height: 5px !important;
    border-radius: 50%;
    border: 4px solid #000000;
    background-color: #ffffff;
    margin-right: 10px;
    text-indent: -9999px;
    outline: none;
}
.slick-slide {
    position: relative;
    width: 100%;
}
.slick-slide:focus {
    outline: none !important;
}
