@import 'fonts';
@import 'header';
@import 'slider';
@import 'main';
@import 'footer';
@import 'about-heading';
@import 'about-main';
@import 'portfolio-heading';
@import 'contact-main';
@import 'blog-heading';
@import 'blog-main';
@import 'blog-aside';

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    margin: 0;
}
.border-top {
    height: 4px;
    background: linear-gradient(to bottom, #c7c8ca, #d4d5d7, #e5e5e7);
}
.border-bottom {
    height: 4px;
    background: linear-gradient(to top, #c7c8ca, #d4d5d7, #e5e5e7);
}
